""
"https://towardsdatascience.com/the-essential-ideavim-remaps-291d4cd3971b
""

" ### Leader Key ###
" Assert space is mapped
nnoremap <SPACE> <Nop>
let mapleader=" "


" ### Comment ###
nnoremap <leader>/ :action CommentByLineComment<CR>
vnoremap <leader>/ :action CommentByLineComment<CR>

" ### Refactor ###
nnoremap <Leader>= :action ReformatCode<CR>
nnoremap <leader>R :action Refactorings.QuickListPopupAction<CR>
nmap <leader>rr :action RenameElement<cr>
nmap <leader>rg :action Generate<cr>
nnoremap <leader>o :action OptimizeImports<CR>
vmap <leader>rm :action ExtractMethod<cr>

" ### Errors ###
nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>

" ### Editor ###
nnoremap <c-=> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-\> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

" Move around splits
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k

sethandler <c-j> a:vim
sethandler <c-k> a:vim

" Close active split
nnoremap <Leader>q :action CloseContent<CR>

" ### Navigation ###
nnoremap <c-r> :action RecentFiles<CR>

nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nmap <leader>u :action FindUsages<cr>
nmap <leader>b :action ShowBookmarks<cr>
nmap <leader>t :action GotoTest<cr>
nmap <leader>i :action GotoImplementation<cr>
nmap <leader>f :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>s :action GotoSymbol<cr>
nmap <leader>m :action ToggleBookmark<cr>
nmap <leader>b :action ShowBookmarks<cr>

" -- Tabs
nmap <TAB> :action NextTab<CR>
nmap <S-TAB> :action PreviousTab<CR>

" ### Extras ###
nnoremap Y y$
set highlightedyank
let g:highlightedyank_highlight_duration = "150"

" -- These create newlines like o and O but stay in normal mode
nmap zj o<Esc>
nmap zk O<Esc>

" ### Scroll and Center ###
nmap n nzz
nmap N Nzz
nmap <C-d> <C-d>zz
nmap <C-u> <C-u>zz

" -- Cursor don't go all the way to top/bottom
set scrolloff=3

" -- Relative numbers for better vertical navigation
set number relativenumber

" -- No error bell from ideavim
set visualbell
set hlsearch
set incsearch
set ignorecase smartcase
nmap <leader>h :noh<CR>


" ### Plugins ###

" Sneak
Plug 'justinmk/vim-sneak'
set sneak

" NerdTree

" Commentary
set commentary

" Surround
set surround


" -- Run and test --

nnoremap ,r :action Run<CR>
nnoremap ,c :action RunClass<CR>
"nnoremap ,f :action ChooseRunConfiguration<CR>
"nnoremap ,t :action ActivateRunToolWindowCR>
nnoremap ,u :action Rerun<CR>

nnoremap ,f :action RerunFailedTests<CR>

nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,d :action ContextDebug<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>

" ### ExpandCollapse ###
nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

" ----- Built in help ------

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc<CR><CR>
